{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

    <div class="jumbotron">
      <h1 class="display-4">Welcome!</h1>
          <p class="lead">This is the quarantine quiz, put your knowledge to the test and see your score
                          on the leaderboard. Share with your friends on social media and start the competition.
                          Good Luck!</p>
              <hr class="my-4">
                <p>To take the quiz, you must first register an account. If you are returning to improve your score click login.</p>
      <a class="btn btn-primary btn-lg btn-pink" style="margin:10px;" href="/register" role="button">Register</a>
      <a class="btn btn-primary btn-lg btn-pink" style="margin:10px;" href="/login" role="button">&ensp;Login&ensp;</a>
    </div>

{% endblock %}
