{% extends "layout.html" %}

{% block title %}
    Question 16
{% endblock %}

{% block main %}

<div>
    <h2 class="topspace"><span class="pink">Q16: </span>Which fruit is represented at the top of the Wimbledon trophy?</h2>
        <section class="question"></section>

        <form action="/question16" method="post">
            <input type="submit" id="option1" name="answer" value="A. {{ A16 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option2" name="answer" value="B. {{ B16 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option3" name="answer" value="C. {{ C16 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option4" name="answer" value="D. {{ D16 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
        </form>
</div>

{% endblock %}