{% extends "layout.html" %}

{% block title %}
    Question 15
{% endblock %}

{% block main %}

<div>
    <h2 class="topspace"><span class="pink">Q15: </span>In which country would you find this famous castle?</h2>
    <img src="/static/castle.png" alt="castle" width='180' height="150" style="margin-top:20px">
        <section class="question"></section>

        <form action="/question15" method="post">
            <input type="submit" id="option1" name="answer" value="A. {{ A15 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option2" name="answer" value="B. {{ B15 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option3" name="answer" value="C. {{ C15 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option4" name="answer" value="D. {{ D15 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
        </form>
</div>

{% endblock %}