{% extends "layout.html" %}

{% block title %}
    Question 10
{% endblock %}

{% block main %}

<div>
    <h2 class="topspace"><span class="pink">Q10: </span>Which island nation is represented by this flag?</h2>
    <img src="/static/flag.png" alt="flag" width='180' height="120" style="margin-top:20px">
        <section class="question"></section>

        <form action="/question10" method="post">
            <input type="submit" id="option1" name="answer" value="A. {{ A10 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option2" name="answer" value="B. {{ B10 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option3" name="answer" value="C. {{ C10 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option4" name="answer" value="D. {{ D10 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
        </form>
</div>

{% endblock %}