{% extends "layout.html" %}

{% block title %}
    Question 4
{% endblock %}

{% block main %}

<div>
    <h2 class="topspace"><span class="pink">Q4: </span>How fast can a Cheetah run?</h2>
        <section class="question"></section>

        <form action="/question4" method="post">
            <input type="submit" id="option1" name="answer" value="A. {{ A4 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option2" name="answer" value="B. {{ B4 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option3" name="answer" value="C. {{ C4 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option4" name="answer" value="D. {{ D4 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
        </form>
</div>

{% endblock %}