{% extends "layout.html" %}

{% block title %}
    Question 8
{% endblock %}

{% block main %}

<div>
    <h2 class="topspace"><span class="pink">Q8: </span>What is the national animal of Scotland?</h2>
        <section class="question"></section>

        <form action="/question8" method="post">
            <input type="submit" id="option1" name="answer" value="A. {{ A8 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option2" name="answer" value="B. {{ B8 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option3" name="answer" value="C. {{ C8 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option4" name="answer" value="D. {{ D8 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
        </form>
</div>

{% endblock %}