{% extends "layout.html" %}

{% block title %}
    Question 14
{% endblock %}

{% block main %}

<div>
    <h2 class="topspace"><span class="pink">Q14: </span>Who was the last man to walk on the moon?</h2>
        <section class="question"></section>

        <form action="/question14" method="post">
            <input type="submit" id="option1" name="answer" value="A. {{ A14 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option2" name="answer" value="B. {{ B14 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option3" name="answer" value="C. {{ C14 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option4" name="answer" value="D. {{ D14 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
        </form>
</div>

{% endblock %}