{% extends "layout.html" %}

{% block title %}
    Question 20
{% endblock %}

{% block main %}

<div>
    <h2 class="topspace"><span class="pink">Q20: </span>In what year was the first computer game created?</h2>
        <section class="question"></section>

        <form action="/question20" method="post">
            <input type="submit" id="option1" name="answer" value="A. {{ A20 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option2" name="answer" value="B. {{ B20 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option3" name="answer" value="C. {{ C20 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option4" name="answer" value="D. {{ D20 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
        </form>
</div>

{% endblock %}