{% extends "layout.html" %}

{% block title %}
    Question 7
{% endblock %}

{% block main %}

<div>
    <h2 class="topspace"><span class="pink">Q7: </span>What is the technical name for a hashtag (#)?</h2>
        <section class="question"></section>

        <form action="/question7" method="post">
            <input type="submit" id="option1" name="answer" value="A. {{ A7 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option2" name="answer" value="B. {{ B7 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option3" name="answer" value="C. {{ C7 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
            <input type="submit" id="option4" name="answer" value="D. {{ D7 }}" class="btn btn-secondary btn-lg btn-block btn-click"></input>
        </form>
</div>

{% endblock %}